:root {
	--main-color: '#26c6da';
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	background-color: var(--main-color);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

body {
	font-family: 'Roboto', sans-serif;
}

.anim-opacity {
	animation: opacity 1s ease-in;
}

.anim-transform {
	animation: transform 0.4s ease-in;
}

@keyframes transform {
	0% {
		transform: translateX(+100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.navigation_link-active {
	background-color: var(--main-color);
	color: '#fff';
}
