:root {
	--main-color: '#26c6da';
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	background-color: var(--main-color);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

body {
	font-family: 'Roboto', sans-serif;
}

.anim-opacity {
	animation: opacity 1s ease-in;
}

.anim-transform {
	animation: transform 0.4s ease-in;
}

.anim-scale {
	transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
	animation-name: scale;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
	animation-fill-mode: both;
	animation-delay: 0.1s;
}

@keyframes transform {
	0% {
		transform: translateX(+100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.navigation_link-active {
	background-color: var(--main-color);
	color: '#fff';
}
